{% extends "_layouts/default.njk" %}
{% block body %}

<nav id="menu">
    <ul>
        <li><a href="/carteira/">Carteira</a></li>
        <li><a href="/credenciamento/">Credenciamento</a></li>
    </ul>
</nav>
</div>
{% endblock %}