* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.3s;
}

html,
body {
  height: 100%;
}

h1{
  font-family: "Arial";
  font-size: 35px;
  border-width: medium;
  border-style: solid;
  border-color: gray;
  height: 100%;
  text-align: center;
}

.auth-wrapper {
  
 background-color: orange;
}

#menu ul {
  padding:0px;
  margin:0px;
  background-color:#EDEDED;
  list-style:none;
  font-size: 25px;
}

#menu ul li { display: inline; }

#menu ul li a {
  padding: 2px 10px;
  display: inline-block;

  /* visual do link */
  background-color:#EDEDED;
  color: #333;
  text-decoration: none;
  border-bottom:3px solid #EDEDED;
}
#menu ul li a:hover {
  background-color:#D6D6D6;
  color: #6D6D6D;
  border-bottom:3px solid #EA0000;
}